.site-banner {
	position: relative;
	text-align: center;

	& .site-banner-content {
		position: absolute;
		top: 15%;
		/*-webkit-transform: translateY(-50%);
		transform: translateY(-50%);*/
		text-align: left;

		& svg {
			width: 30px;
		}

		& h2,
		& h3,
		& h4 {
			font-weight: bold;
		}

		& h3 {
			margin-bottom: 0;
		}

		& h3.with-icon-anim {
			position: relative;
			display: inline-block;
			margin-bottom: 35px;

			& svg {
				position: absolute;
				top: 0;
				right: -40px;
			}
		}

		& h2,
		& h4 {
			color: @primary-color;
		}

		& h2 {
			font-size: 32px;
		}
	}
}

@media all and (max-width: 767.98px) {
	.site-banner {
		margin-bottom: 60px;

		& .site-banner-content {
			position: inherit;
		}

		& h2 {
			font-size: 24px;
		}

		& h3 {
			font-size: 17px;
		}

		& h4 {
			font-size: 15px;
		}
	}
}
