.site-banner {
	position: relative;
	text-align: center;
	margin-bottom: 100px;

	& .site-banner-content {
		position: absolute;
		top: 4%;
		/*-webkit-transform: translateY(-50%);
		transform: translateY(-50%);*/
		text-align: left;
		max-width: 530px;

		& svg {
			width: 30px;
		}

		& h2,
		& h3,
		& h4 {
			font-weight: bold;
		}

		& h3 {
			&.h3-list {
				font-size: 16px;
				margin-bottom: 2px;

				& svg {
					width: 22px;
					height: auto;
					margin-right: 7px;
					vertical-align: middle;
				}
			}
		}

		& h3.with-icon-anim {
			position: relative;
			display: inline-block;
			margin-bottom: 35px;

			& svg {
				position: absolute;
				top: 0;
				right: -40px;
			}
		}

		& h2,
		& h4 {
			color: @primary-color;
		}

		& h2 {
			font-size: 30px;
			margin-bottom: 0;
		}

		& button {
			margin-top: 15px;
			margin-bottom: 10px;
		}
	}
}

@media all and (max-width: 851.98px) {
	.site-banner {
		margin-bottom: 60px;

		& .site-banner-content {
			position: inherit;
			margin-top: 15px;

			& h2 {
				font-size: 24px;
			}

			& h3 {
				font-size: 16px;
			}

			& h4 {
				font-size: 15px;
			}

			& button {
				margin-top: 16px;
			}
		}
	}
}
