.step {
	border-radius: 10px;
	padding: 25px 40px;

	& .count {
		color: rgba(255, 255, 255, 0.6);
		font-size: 70px;
		font-weight: bold;
		line-height: 48px;
	}

	& h2,
	& h3 {
		font-size: 25px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 0;
		line-height: 25px;
	}

	& h3 {
		color: #4c5567;
		font-size: 22px;
		margin-top: 5px;
	}

	& p {
		font-size: 16px;
		margin-top: 20px;
	}

	& img {
		margin-top: 30px;
	}

	&.step1 {
		background-color: #e1f0c8;

		& .count {
			flex: 0 0 82px !important;
		}

		& h2 {
			color: #56972c;
		}

		& .ant-image {
			padding: 35px 0;
		}
	}

	&.step2 {
		background-color: #faebd0;

		& h2 {
			color: #e09525;
		}

		& .ant-image {
			padding: 0;
		}
	}

	&.step3 {
		background-color: #fbded9;

		& h2 {
			color: #ca4b35;
		}

		& .ant-image {
			padding: 0;
		}
	}
}

@media all and (max-width: 767.98px) {
	.step {
		padding: 20px;

		& .count {
			font-size: 60px;
		}

		& h2 {
			font-size: 20px;
		}

		& h3 {
			font-size: 18px;
		}

		& p {
			font-size: 16px;
		}

		&.step2 {
			& .ant-image {
				padding: 10px 0;
			}
		}

		&.step3 {
			& .ant-image {
				padding: 5px 0;
			}
		}
	}
}
