.client-testimonials {
	margin: 10px 0;

	& h2 {
		margin-bottom: 30px;
	}

	& .rec-carousel-wrapper {
		padding: 0;
	}

	& .rec-slider-container {
		background: #ebf6e6;
		background-image: linear-gradient(to top, #f0f2f5, #ebf6e6);
		border-radius: 6px;
		border: #f0f2f5 1px solid;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
	}
}

.client-testimonial {
	width: 96%;
	min-height: 355px;
	padding: 30px;
	margin-bottom: 10px;

	&:focus {
		outline: #a3e975 auto 1px;
	}

	& .ant-row {
		margin-bottom: 15px;
	}

	& h3 {
		font-weight: bold;
		margin-bottom: 2px;
	}

	& h4 {
		color: rgba(0, 0, 0, 0.5);
		font-style: italic;
	}
}

@media all and (max-width: 991.98px) {
	.client-testimonial {
		min-height: 470px;
	}
}

@media all and (max-width: 767.98px) {
	.client-testimonials {
		& > .dd-content {
			padding: 0;
		}
	}

	.client-testimonial {
		min-height: 455px;
		padding: 15px;

		& h3 {
			margin-bottom: 10px;
		}
	}
}
