@import "~antd/dist/antd.less";

.bg-white {
	background-color: #fff;
}

img {
	width: 100%;
}

svg {
	width: 20px;
}

.text-green-primary {
	color: @primary-color;
}

.dd-header.ant-layout-header {
	background: none;
	background-image: linear-gradient(to top, @layout-body-background, #dbedca);

	& .logo {
		float: left;
	}

	& img {
		max-width: 40px;
	}

	& ul {
		background: none;
		border-bottom: 0;
		font-weight: bold;
		text-align: right;
	}
}

.dd-content.ant-layout-content {
	min-height: 300px;
	max-width: 1280px;
	margin: 0 auto;
	padding: 24px 50px;
}

@media all and (max-width: 992px) {
	.dd-header.ant-layout-header,
	.dd-content.ant-layout-content {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.steps-content {
	margin-top: 16px;
	border: 1px dashed #e9e9e9;
	border-radius: 2px;
	background-color: #fafafa;
	min-height: 200px;
	text-align: center;
	padding-top: 80px;
}

.steps-action {
	margin-top: 24px;
}
