@import "~antd/dist/antd.less";

::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	//-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: #c1c1c1;
	//-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background-color: #c1c1c1;
}

#__next {
	height: 100%;
}

.fullScreen-mode-enabled {
	width: 100%;
	height: 100vh;
	overflow: auto;
}

.ant-select {
	min-width: 75px;
}

.ant-slider-mark {
	font-size: 15px !important;

	& .ant-slider-mark-text:first-child {
		transform: translateX(-6px) !important;
	}

	& .ant-slider-mark-text:last-child {
		left: auto !important;
		right: 0%;
		transform: translateX(6px) !important;
	}
}

.text-center,
.ant-statistic-title {
	text-align: center;
}

.text-right {
	text-align: right;
}

.ant-list {
	background: #fff;
}

body.no-scrollbar {
	overflow: hidden;
}

.error-txt {
	color: #f00;
	margin-left: 5px;
}

.ant-radio-group {
	& label.ant-radio-button-wrapper {
		border-radius: 0;
	}

	& .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
	&
		.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
		background: @primary-color;
		color: #fff;
	}
}

.dd-site {
	& .ant-alert-with-description {
		& .ant-alert-message {
			font-size: 16px;
			font-weight: bold;
		}

		& .ant-alert-description {
			font-size: 14px;
		}
	}
}

.ant-tabs.ant-tabs-top {
	& .ant-tabs-nav {
		margin-bottom: 0;

		& .ant-tabs-tab {
			background: #dcdcdc;

			&:hover {
				background: @primary-color;
				color: #fff;
			}
		}

		& .ant-tabs-tab-active,
		& .ant-tabs-tab-active:hover {
			background-image: linear-gradient(to top, #fff, #dbedca);
			border: #fff 1px solid;
		}

		& .ant-tabs-tab-disabled,
		& .ant-tabs-tab-disabled:hover {
			background: #dcdcdc;
			color: #a5a5a5;
		}
	}

	& .ant-tabs-content-holder {
		min-height: 250px;
		background-color: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		padding: 10px;
		margin-bottom: 6px;
	}

	& .ant-tabs {
		& .ant-tabs-tab {
			background: none;
			padding: 12px;

			&:hover {
				background: none;
				color: inherit;
				font-weight: bold;
			}
		}
	}
}

.bg-white {
	background-color: #fff;
}

img {
	width: 100%;
}

svg {
	width: 20px;
}

.radial-input svg {
	width: auto;
}

.text-green-primary {
	color: @primary-color;
}

.error-text {
	color: #ff0000;
}

.ant-collapse-item-active {
	& .ant-collapse-header {
		background-image: linear-gradient(to top, #fff, #dbedca);
	}
}

.dd-content.ant-layout-content {
	min-height: 300px;
	max-width: 1280px;
	margin: 0 auto;
	padding: 24px 50px;
}

/* Chrome, Safari and Opera syntax */
:-webkit-full-screen {
	background-color: #ffffff;
}

/* Firefox syntax */
:-moz-full-screen {
	background-color: #ffffff;
}

/* IE/Edge syntax */
:-ms-fullscreen {
	background-color: #ffffff;
}

/* Standard syntax */
:fullscreen {
	background-color: #ffffff;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}

:root {
	--amplify-primary-color: @primary-color;
	--amplify-primary-tint: @link-color;
	--amplify-primary-shade: @link-color;
	--amplify-font-family: @font-family;
}

.scrollbar {
	margin-left: 30px;
	float: left;
	overflow-y: scroll;
	overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar-track {
	border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
	width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: linear-gradient(
		to top,
		@layout-body-background,
		@primary-color
	);
}

//Make captcha badge invisible
.grecaptcha-badge {
	visibility: hidden;
}

.steps-start-btn {
	height: auto;
	font-size: 16px;
	padding: 5px 30px;

	& .anticon {
		transform: scale(1.5);
	}

	&:hover {
		transform: scale(1.2);

		& .anticon {
			transform: scale(1.7) rotate(20deg);
		}
	}
}

.primary-header {
	background-color: @primary-color;
	border-bottom: @primary-color 2px solid;

	& .ant-page-header-heading-title {
		color: #fff;
	}

	/*& .ant-page-header-heading-left {
		max-width: 75%;
	}*/

	& .secondary-header {
		background-color: #3d4a53;
		color: #fff;
		text-align: left;
		padding: 1px 22px;

		& .anticon-share-alt {
			cursor: pointer;
			font-size: 20px;
		}
	}
}

//Carousel custom style start
.rec-carousel-wrapper {
	padding: 0 15px;
	margin-bottom: 10px;
}

.rec-pagination {
	margin: 0;

	& button {
		height: 12px;
		background-color: #dcdcdc;
		box-shadow: none;
		transform: scale(0.6);

		&.rec-dot_active {
			background-color: @primary-color;
		}
	}
}

.rec-slider-container {
	margin: 0;
}

.rec-arrow {
	min-width: auto;
	width: auto;
	background: none;
	box-shadow: none;
}
//Carousel custom style end

@media all and (max-width: 576px) {
	.rec-carousel-wrapper {
		padding: 0 5px;
	}
	.primary-header {
		margin-bottom: 10px;

		& .secondary-header {
			padding: 1px 16px;
		}
	}
	.steps-start-btn {
		padding: 5px 15px;
	}
}

@media all and (max-width: 991.98px) {
	.dd-header.ant-layout-header,
	.dd-content.ant-layout-content {
		padding-left: 20px;
		padding-right: 20px;
	}
	.primary-header {
		& .ant-page-header-heading-title {
			font-size: 18px;
		}
	}
}

@media all and (max-width: 767.98px) {
	.primary-header {
		& .ant-page-header {
			padding: 8px 15px;
		}
		& .ant-page-header-heading-title {
			font-size: 16px;
		}
	}
}
