@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Jost", sans-serif;
  --font-weight: 400;
  --primary-green-color: #96d441;
  --secondary-green-color: #aae441;
  --primary-gray-color: #4a5568;
  --amplify-primary-color: var(--primary-green-color);
  --amplify-primary-tint: var(--secondary-green-color);
  --amplify-primary-shade: var(--secondary-green-color);
  --amplify-font-family: var(--font-family);
  color: var(--primary-gray-color);
}

body {
  background-color: #f6f6f6;
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

button {
  @apply border rounded p-2 px-8 text-white;
}

button svg {
  @apply inline;
}

button:disabled svg,
button.loading svg {
  filter: brightness(0.7) sepia(0) hue-rotate(0deg) saturate(0);
}

button.primary {
  @apply bg-green-900;
}

button.primary:disabled,
button.secondary:disabled {
  @apply cursor-not-allowed;
}

button.primary:hover {
  @apply bg-green-1000;
}

button.primary:disabled {
  @apply bg-green-800 text-gray-400;
}

button.secondary {
  @apply bg-gray-900;
}

button.secondary:hover {
  @apply bg-black;
}

button.secondary:disabled {
  @apply bg-gray-800 text-gray-600;
}

button.loading {
  @apply relative text-transparent;
}

button.loading:before {
  @apply absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -0.64285714em 0 0 -0.64285714em;
  width: 1.28571429em;
  height: 1.28571429em;
  border-radius: 500rem;
  border: 0.2em solid rgba(0, 0, 0, 0.15);
}

button.loading:after {
  @apply absolute;
  border-radius: 500rem;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 0.2em;
  content: "";
  top: 50%;
  left: 50%;
  margin: -0.64285714em 0 0 -0.64285714em;
  width: 1.28571429em;
  height: 1.28571429em;
  -webkit-animation: button-spin 0.6s linear;
  animation: button-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-box-shadow: 0 0 0 1px transparent;
  box-shadow: 0 0 0 1px transparent;
}

@-webkit-keyframes button-spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes button-spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.input {
  display: inline-block;
  padding: 0;
  font-weight: 600;
  appearance: none;
  border-bottom-width: 1px;
  border-bottom-color: var(--primary-gray-color);
  border-bottom-width: thick;
  line-height: 1.25;
  background-color: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: right;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  text-align: right;
}

.input:focus {
  outline: 0;
  border-color: var(--primary-green-color);
}

.aws-btn {
  --button-default-height: 48px;
  --button-default-font-size: 1rem;
  --button-default-border-radius: 9999px;
  --button-horizontal-padding: 1rem;
  --button-raise-level: 5px;
  --button-hover-pressure: 2;
  --transform-speed: 0.185s;
  --button-primary-color: var(--primary-green-color);
  --button-primary-color-dark: var(--secondary-green-color);
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: var(--secondary-green-color);
  --button-primary-color-active: var(--secondary-green-color);
  --button-primary-border: 0px solid #ffffff;
  --button-secondary-color: #edf2f7;
  --button-secondary-color-dark: #cbd5e0;
  --button-secondary-color-light: var(--primary-green-color);
  --button-secondary-color-hover: #edf2f7;
  --button-secondary-color-active: #edf2f7;
  --button-secondary-border: none;
  --button-anchor-color: var(--primary-green-color);
  --button-anchor-color-dark: var(--secondary-green-color);
  --button-anchor-color-light: #ffffff;
  --button-anchor-color-hover: var(--secondary-green-color);
  --button-anchor-color-active: var(--secondary-green-color);
  --button-anchor-border: 1px solid var(--secondary-green-color);
}

@keyframes transient {
  0%,
  100% {
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0%,
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.calc-btn {
  width: 12.4rem;
  background-color: #a0a0a0;
  background-image: linear-gradient(to top, #4a4a4a, #b3b3b3);
  @apply absolute cursor-pointer flex flex-col justify-center text-white rounded-lg transition-all transform duration-500 p-1 shadow-md;
}

.calc-btn > div {
  background-color: #6f6f6f;
  background-image: linear-gradient(to left, #6f6f6f, #4a4a4a);
  @apply rounded-lg py-6;
}

.calc-btn svg {
  filter: brightness(1) sepia(-1) hue-rotate(-70deg) saturate(3);
}

.calc-btn.selected {
  background-image: unset;
  @apply bg-green-1000 p-8 border border-white border-2 shadow-inner;
}

.calc-btn.selected .calc-btn-label {
  @apply text-2xl;
}

.calc-btn.selected > div {
  background-image: unset;
  @apply bg-transparent;
}

@screen lg {
  .translate-neg-30 {
    transform: translate3d(0, -30%, 0);
  }

  .translate-neg-40 {
    transform: translate3d(0, -40%, 0);
  }
}

.tooltip-info {
  opacity: 1 !important;
  @apply bg-blue p-3 text-lg shadow-lg text-white;
}

.site-nav > a:hover,
.site-nav > .site-nav-dropdown > span:hover,
.site-nav > .site-nav-dropdown > a:hover {
  background-color: #499824;
  color: #fff;
}

.site-nav-dropdown:hover > div {
  display: block !important;
}

.site-nav-dropdown div a:hover {
  color: #499824;
}

.step-box {
  @apply w-full;
}

.step-box > div {
  @apply rounded-lg p-12 pb-5;
}

@screen md {
  .step-box > div {
    @apply p-5 py-8;
  }
}

@screen lg {
  .step-box > div {
    @apply p-16;
  }
}

#knob > div[style] {
  z-index: 0;
  cursor: pointer;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari and Opera syntax */
:-webkit-full-screen {
  background-color: #ffffff;
}

/* Firefox syntax */
:-moz-full-screen {
  background-color: #ffffff;
}

/* IE/Edge syntax */
:-ms-fullscreen {
  background-color: #ffffff;
}

/* Standard syntax */
:fullscreen {
  background-color: #ffffff;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
