@import "../../node_modules/antd/dist/antd.less";

img {
	width: 100%;
}

svg {
	width: 20px;
}

.dd-header.ant-layout-header {
	background: none;
	background-image: linear-gradient(to top, @layout-body-background, #dbedca);

	& .logo {
		float: left;
	}

	& img {
		max-width: 40px;
	}

	& ul {
		background: none;
		border-bottom: 0;
		font-weight: bold;
		text-align: right;
	}
}

.dd-content.ant-layout-content {
	min-height: 300px;
	max-width: 1280px;
	margin: 0 auto;
	padding: 24px 50px;
}

.site-banner {
	position: relative;
	text-align: center;

	& .site-banner-content {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		text-align: left;

		& svg {
			width: 30px;
		}

		& h2 {
			color: @primary-color;
		}
	}
}

@media all and (max-width: 992px) {
	.dd-header.ant-layout-header,
	.dd-content.ant-layout-content {
		padding-left: 20px;
		padding-right: 20px;
	}
}
