@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import url('<link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">');
*/

:root {
  --amplify-primary-color: #96D441;
  --amplify-primary-tint: #AAE441;
  --amplify-primary-shade: #AAE441;
  --amplify-font-family: "Helvetica", sans-serif;
  color: #4a5568;
  --font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  --font-weight: 300;
  --primary-green-color: #96D441;
  --secondary-green-color: #AAE441;
  --primary-gray-color: #4a5568;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.input {
  display: inline-block;
  padding: 0;
  font-weight: 600;
  appearance: none;
  border-bottom-width: 1px;
  border-bottom-color: var(--primary-gray-color);
  border-bottom-width: thick;
  line-height: 1.25;
  background-color: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: right;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  text-align: right;
}

.input:focus {
  outline: 0;
  border-color: var(--primary-green-color);
}

.aws-btn {
  --button-default-height: 48px;
  --button-default-font-size: 1rem;
  --button-default-border-radius: 9999px;
  --button-horizontal-padding: 1rem;
  --button-raise-level: 5px;
  --button-hover-pressure: 2;
  --transform-speed: 0.185s;
  --button-primary-color: var(--primary-green-color);
  --button-primary-color-dark: var(--secondary-green-color);
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: var(--secondary-green-color);
  --button-primary-color-active: var(--secondary-green-color);
  --button-primary-border: 0px solid #ffffff;
  --button-secondary-color: #edf2f7;
  --button-secondary-color-dark: #cbd5e0;
  --button-secondary-color-light: var(--primary-green-color);
  --button-secondary-color-hover: #edf2f7;
  --button-secondary-color-active: #edf2f7;
  --button-secondary-border: none;
  --button-anchor-color: var(--primary-green-color);
  --button-anchor-color-dark: var(--secondary-green-color);
  --button-anchor-color-light: #ffffff;
  --button-anchor-color-hover: var(--secondary-green-color);
  --button-anchor-color-active: var(--secondary-green-color);
  --button-anchor-border: 1px solid var(--secondary-green-color);
}

@keyframes transient {
  0%,
  100% {
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0%,
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

#knob > div[style] {
  z-index: 0;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 2px 6px;
  position: absolute;
  z-index: 100;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari and Opera syntax */
:-webkit-full-screen {
  background-color: #ffffff;
}

/* Firefox syntax */
:-moz-full-screen {
  background-color: #ffffff;
}

/* IE/Edge syntax */
:-ms-fullscreen {
  background-color: #ffffff;
}

/* Standard syntax */
:fullscreen {
  background-color: #ffffff;
}
