.about {
	& .founder-quote {
		background-color: #3e4c54;
		text-align: right;

		& .dd-content {
			position: relative;
			padding: 0;
		}

		& hgroup {
			position: absolute;
			max-width: 500px;
			padding: 20px;
			top: 100px;
			text-align: left;
		}

		& .fa-quote-left {
			margin-right: 15px;
		}

		& .fa-quote-right {
			margin-left: 15px;
		}

		& h2,
		& h4 {
			color: #fff;
		}

		& h2 {
			font-size: 40px;
			font-weight: bold;
		}

		& h4 {
			font-size: 18px;
			padding-left: 10px;
		}

		& img {
			max-width: 780px;
		}
	}

	& .what-why-how {
		margin: 40px 0;
	}

	& .companies-logo {
		margin-top: 40px;
	}

	& .natwest-logo,
	& .sapient-logo,
	& .thoughtworks-logo,
	& .jpmorgan-logo,
	& .jabong-logo {
		background: url("/images/companies-experience.jpg") no-repeat 0 0;
	}

	& .natwest-logo {
		width: 77px;
		height: 84px;
	}

	& .sapient-logo {
		width: 112px;
		height: 60px;
		background-position: -83px 0;
	}

	& .thoughtworks-logo {
		width: 208px;
		height: 33px;
		background-position: -202px 0;
	}

	& .jpmorgan-logo {
		width: 155px;
		height: 32px;
		background-position: -416px 0;
	}

	& .jabong-logo {
		width: 175px;
		height: 35px;
		background-position: -578px 0;
	}
}

@media all and (max-width: 991.98px) {
	.about {
		& .founder-quote {
			margin-bottom: 30px;

			& hgroup {
				width: 100%;
				max-width: inherit;
				background-color: @primary-color;
				top: auto;
				bottom: -25px;
			}

			& h2 {
				font-size: 25px;
			}

			& h4 {
				font-size: 16px;
			}
		}
	}
}

@media all and (max-width: 576px) {
	.about {
		& .founder-quote {
			margin-bottom: 120px;

			& hgroup {
				bottom: -125px;
			}

			& h2 {
				font-size: 22px;
			}
		}
	}
}
