.holding {
	border-bottom: #d9d9d9 1px solid;
	padding: 10px 0;

	& p {
		font-size: 14px;
		margin: 0;
	}

	& .quantity {
		color: @primary-color;
	}

	& .edit-qty-container {
		max-width: 300px;
	}
}
