.list-holdings {
	td {
		vertical-align: top;
	}

	.align-left {
		justify-content: left;
	}

}

@media all and (max-width: 576px) {
	.list-holdings {
		input {
			width: 110px !important;
		}

		.ant-input-number {
			width: 120px !important;
		}

		.ant-select {
			width: 150px;
		}
	}
}
