.nw-container {
	padding: 20px;

	& .upload-icon svg,
	& .ant-empty-img-default {
		width: 80px;
	}

	& .ant-empty {
		padding: 30px 0;
	}

	& .ant-upload-list-text {
		margin-bottom: 35px;
	}

	& .ant-upload-list-item {
		height: 36px;
		margin: 0;
	}

	& .ant-upload-list-item-info {
		background-color: #dbedca;
		padding: 20px;
	}

	& .ant-upload-span {
		background-color: #dbedca;
	}
}

.upload-holdings-drawer {
	& .ant-drawer-header {
		padding: 10px;
	}

	& .ant-drawer-title {
		font-size: 15px;
	}

	& .ant-drawer-body {
		padding: 0;
	}
}

@media all and (max-width: 767.98px) {
	.nw-container {
		padding: 5px;
	}
}
