.data-switcher {
	& .container {
		display: none;
		margin-top: 15px;
	}

	& .active {
		display: block;
	}

	& .ant-list {
		width: 100%;
	}

	& .ant-list-item {
		position: relative;
		padding: 4px 8px;

		& > span:not(.ant-badge) {
			position: absolute;
			width: 10px;
			height: 100%;
			top: 0;
			left: 0;
		}

		& .ant-list-item {
			padding-left: 15px;
		}
	}

	& .heading {
		background-color: #f5f5f5;
		font-weight: bold;
	}
}
