.data-switcher {
	& .container {
		display: none;
		margin-top: 15px;
	}

	& .header {
		border-bottom: #dcdcdc 2px solid;
		margin-bottom: 10px;
	}

	& > .ant-row {
		width: 100%;
	}

	& .switcher {
		text-align: right;
		margin-bottom: 6px;
	}

	& .active {
		display: block;
	}

	& .ant-list {
		width: 100%;
	}

	& .ant-list-item {
		position: relative;
		padding: 4px 8px;

		& > span:not(.ant-badge) {
			position: absolute;
			width: 10px;
			height: 100%;
			top: 0;
			left: 0;
		}

		& .ant-list-item {
			padding-left: 15px;
		}
	}

	& .heading {
		background-color: #f5f5f5;
		font-weight: bold;
	}

	& .cash {
		background-color: #a5edd9;
		border: #f0f2f5 1px solid;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		padding: 5px 15px;

		&.deposits {
			background-color: #4adab4;
		}

		& .ant-badge {
			vertical-align: sub;
		}

		&.active {
			position: relative;
			background: @primary-color;
			color: #fff;
			margin-right: 25px;

			& strong {
				color: #fff;
			}

			& .arrow-right {
				position: absolute;
				width: 0;
				height: 0;
				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent;
				border-left: 15px solid @primary-color;
				top: 50%;
				margin-top: -15px;
				right: -8px;
			}
		}

		& strong {
			font-size: 14px;
			font-weight: bold;
			float: right;
		}
	}
}

@media all and (max-width: 1199.98px) {
	.data-switcher {
		& .cash {
			& .ant-badge > sup {
				font-size: 11px;
			}

			&.active {
				margin-right: 0;

				& .arrow-right {
					display: none;
				}
			}

			& strong {
				font-size: 12px;
			}
		}

		& .ant-radio-button-wrapper {
			padding: 0 5px;
		}
	}
}

@media all and (max-width: 576px) {
	.data-switcher {
		& h4 {
			font-size: 14px;
		}

		& .ant-list-item {
			font-size: 14px;
			padding: 4px 0;
		}

		& .ant-list-item-action {
			& li {
				font-size: 14px;
			}

			& .ant-badge {
				font-size: 12px;
			}
		}
	}
}
