.data-switcher {
	& .container {
		display: none;
		margin-top: 15px;
	}

	& .header {
		border-bottom: #dcdcdc 2px solid;
		margin-bottom: 10px;
	}

	& > .ant-row {
		width: 100%;
	}

	& .switcher {
		text-align: right;
		margin-bottom: 6px;
	}

	& .active {
		display: block;
	}

	& .ant-list {
		width: 100%;
	}

	& .ant-list-item {
		position: relative;
		padding: 4px 8px;

		& > span:not(.ant-badge) {
			position: absolute;
			width: 10px;
			height: 100%;
			top: 0;
			left: 0;
		}

		& .ant-list-item {
			padding-left: 15px;
		}
	}

	& .heading {
		background-color: #f5f5f5;
		font-weight: bold;
	}
}

@media all and (max-width: 576px) {
	.data-switcher {
		& h4 {
			font-size: 14px;
		}

		& .ant-list-item {
			font-size: 14px;
			padding: 4px 0;
		}

		& .ant-list-item-action {
			& li {
				font-size: 14px;
			}

			& .ant-badge {
				font-size: 12px;
			}
		}
	}
}
