@import "~antd/lib/style/themes/default.less";

.footer {
	background-color: @layout-footer-background;

	& ul {
		list-style: none;
		padding: 0;
	}

	& .dd-content.ant-layout-content {
		min-height: auto;
	}

	& .disclaimer {
		font-size: 12px;
	}

	& .social-icons {
		width: 100%;

		& svg {
			width: 35px;
			margin-right: 10px;
		}
	}
}
