<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
	<tr>
		<td>&nbsp;</td>
		<td class="container">
			<div class="content">
				<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="main">
					<tr>
						<td>
								<section id="title-column-left">
									<img src="https://moneo.in/images/icons/tlogo128.png" alt="Moneo" />
								</section>
								<aside id="title-column-right">
									<p class="text-title">{{ title templateName }}</p>
								</aside>
						</td>
					</tr>
				</table>

				<!-- START CENTERED WHITE CONTAINER -->
				<table role="presentation" class="main">
					<!-- START MAIN CONTENT AREA -->
					<tr>
						<td class="wrapper">
							<table role="presentation" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td>
										{{> @partial-block}}
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

			</div>
		</td>
		<td>&nbsp;</td>
	</tr>
</table>