<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">
                <table role="presentation" class="main main-header">
                    <tr>
                        <td>
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <div class="title-row">
                                            <div class="title-column">
                                                <img src="https://moneo.in/images/icons/tlogo128.png" alt="Moneo" />
                                            </div>
                                            <div class="title-column title-column-left">
                                                <p class="text-title">Investment changed </p>
                                                <p class="text-title" {{#if chgImpact}} style="color: green" {{else}}
                                                    style="color: red" {{/if}}>{{#if
                                                    chgImpact}} ▲
                                                    {{else}}
                                                    ▼{{/if}} {{ chgAmount }}</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <!-- START CENTERED WHITE CONTAINER -->
                <table role="presentation" class="main">
                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        {{> @partial-block}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>


                <div class="footer">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="content-block">
                                <span>Moneo</span>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>