@import "~antd/lib/style/themes/default.less";

@media (min-width: 992px) {
    
    .col-lg-4 {
        width: 33.33%;
        float: top;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .col-lg-4 {
        width: 50%;
        float: top;
    }

}

@media (max-width: 767px) {
    .col-lg-4 {
        width: 100%;
        float: left;
    }
}