@import "~antd/lib/style/themes/default.less";

body,
#__next {
  background-color: @background-color-light;
}

.image-holder {
  display: inline-block;
  position: relative;
  cursor: pointer;

  & input[type="file"] {
    display: none;
  }

  & .edit-icon {
    vertical-align: bottom;
    margin-bottom: -2px;
    border-radius: 50%;
    right: 50px;
    background: white;
  }
}
.ant-page-header-heading-title {
  display: flex;
}

.preview-image-holder {
  position: relative;
  display: flex;
  text-align: center;

  & .goal-image-loader {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
  }

  & .preview-image {
    flex: 1;
  }
}

.image-upload-modal-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

label.dob {
  border-radius: 6px 0px 0px 6px;
  border: 1px solid #ccc;
  background: #fafafa;
  padding: 7px;
}

.steps-content {
  padding: 25px 20px 30px;

  & .ant-collapse-header {
    font-weight: bold;
  }
}

.tabPane {
  margin-left: 70px;
}

@media all and (max-width: 576px) {
  .steps-content {
    padding: 0 10px;
  }

  .personal-tabpane-image-view {
    float: none;
    margin: 0 auto;
  }

  .tabPane {
    margin-left: 0px;
  }

  .first-col-view {
    margin-top: 30px;
  }
}
